<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jns-github-event.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c0e3802a-9ec3-410c-bd76-3c7cf8ac7534/resourceGroups/github-event/providers/Microsoft.Web/sites/jns-github-event</ResourceId>
    <IsLinux>true</IsLinux>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://jns-github-event.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>